doctype html

html
  head
    title= title

  body
    h1
      a(href=homepage target='_blank')= title
  
    input(type='file' id='file-chooser')

    p(id='size-display')

    script(src='js/index.js')

